

  
  .normal {
    text-align:center;
  }


  h3 {
    @include mixinfont;
  }

  h1 {
    text-align:center;
  }

  #hero {
    min-height: 100vh;
    position: relative;
    margin-top: o;

  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:$bg-color;
    opacity: 0.5;
    mix-blend-mode: overlay;
  }

  .noso {
    font-family: $fuente-principal;
    font-size: 15px;
    color: $color-primario;
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;

  }

  #galeria .col-lg-4 {
    margin: o !important;
    padding: 25px;
  }

  #galeria img {
    width: map-get($map:$tamanowh, $key:ancho );
    height: 250px;
  }

  #galeria img:hover {
    border: 5px solid $color-primario;
  }