.header {
  background-image: url(../assets/imagenes/banner.webp);
  margin-bottom: 10px;
  padding: 10px;
  position: sticky;
  top: 0px;
  z-index: 10;
  text-align: center;
  .boton_hambur {
    border-radius: 25%;
    background-color: goldenrod;
  }
}