
$color-primario:rgba(240, 245, 245, 0.534);
$bg-color:black;
$fuente-principal:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


$tamanowh:(
  ancho: 100%,
  alto: 250px,
);