
$color-primario:rgb(241, 241, 243);
$bg-color:hwb(0 9% 91% / 0.671);
$fuente-principal:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


$tamanowh:(
  ancho: 100%,
  alto: 250px,
);